<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Winx Fitness Club</title>
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css?v=4.0}">
</head>
<body class="bg-light">

<main class="container flex-grow-1" style="padding-top: 100px; padding-bottom: 30px;">
        <div class="container text-center">
            <h3 class="display-8 fw-bold mb-3" style="color: var(--winx-text-main);">
                Crea il tuo allenamento <img th:src="@{/images/tecna_gym.png}" alt="Immagine Tecna" height="100">
            </h3>
            <p class="text-muted">Ogni allenamento deve avere almeno un esercizio e ciascuno degli esercizi deve essere caratterizzato dal numero di serie e di ripetizioni</p>
        </div>

        <form th:action="@{/addPersTraining}" method="POST" id="PersTraining">

            <div class="mb-4 mt-4">
                <label for="trainingName" class="form-label fw-bold">Nome allenamento</label>
                <input type="text" class="form-control" id="trainingName" name="nome" placeholder="Inserisci il nome del tuo allenamento" required>
            </div>

            <div id="esercizi">
                <div class="card p-3 mb-3 bg-white border esercizio-item" data-index="0">
                        <div class="col-md-3">
                            <label class="form-label small">Esercizio</label>
                            <select name="esercizi[0].nome" class="form-select select-esercizio" required>
                                <option value="" disabled selected>Seleziona l'esercizio</option>
                                <option th:each="ex : ${catalogoEsercizi}" th:value="${ex.nome}" th:text="${ex.nome}">Panca piana</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label small">Serie</label>
                            <input type="number" name="esercizi[0].serie" class="form-control" placeholder="Numero serie" required>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label small">Ripetizioni</label>
                            <input type="number" name="esercizi[0].reps" class="form-control" placeholder="Numero ripetizioni" required>
                        </div>
                </div>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <div>
                    <button type="button" class="btn btn-primary" id="addEx">+ Aggiungi altri esercizi</button>
                    <span id="exerciseCounter"></span>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary" id="addTr">Salva Programma</button>
                </div>
            </div>

        </form>
</main>


<th:block th:if="${authority == 'ROLE_USER_PRO'}">
    <div th:replace="~{fragments :: navbarPro}"></div>
</th:block>

<div class="mt-auto w-100">
    <div th:replace="~{fragments :: caroselloRecensioni}"></div>
</div>

<script th:src="@{/script.js}"> </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>