<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Winx Fitness Club</title>
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Raleway:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body class="d-flex flex-column min-vh-100">

<div class="d-flex align-items-center justify-content-center flex-grow-1">
    <div class="card" style="width: 100%; max-width: 600px;">
        <div class="card-body p-4">

            <h3 class="card-title text-center mb-4 fw-bold">Contattaci</h3>

            <form id="form-contatti" th:data-redirect-url="@{/index}">
                <div class="mb-3">
                    <label for="uname" class="form-label">Nome Completo</label>
                    <input type="text" class="form-control" id="uname" name="uname" placeholder="Il tuo nome" required>
                </div>

                <div class="mb-3">
                    <label for="mail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="mail" name="mail" placeholder="nome@esempio.com" required>
                </div>

                <div class="mb-3">
                    <label for="note" class="form-label">Messaggio</label>
                    <textarea class="form-control" id="note" name="note" rows="3" placeholder="Scrivi qui il tuo messaggio..." required></textarea>
                </div>

                <button type="button" id="btn-invia" class="btn btn-primary w-100 mt-2">Invia</button>
            </form>
        </div>
    </div>

</div>

<div class="mt-auto w-100">
    <div th:replace="~{/fragments :: caroselloRecensioni}"></div>
</div>
<script th:src="@{/script.js}"> </script>
</body>
</html>
