<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Winx Fitness Club</title>
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Raleway:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body class="bg-light">

<div class="app-layout">


    <div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 60vh;">

        <div class="text-center">
            <h3 class="display-8 fw-bold mb-3" style="color: var(--zen-text-dark);">
                Qui puoi visualizzare gli utenti elencati per tipo e per data di registrazione
            </h3>

            <div class="card overflow-hidden shadow-sm" style="transform: none; border: 2px solid var(--winx-accent);">
                <div class="table-responsive">
                    <table class="table align-middle mb-0 text-center">
                        <thead class="pink_elem">
                        <tr>
                            <th scope="col" class="py-3">Username</th>
                            <th scope="col" class="py-3">Nome</th>
                            <th scope="col" class="py-3">Cognome</th>
                            <th scope="col" class="py-3">Data di Nascita</th>
                            <th scope="col" class="py-3">Ruolo</th>
                            <th scope="col" class="py-3">Data Registrazione</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${utenti}">
                                <td th:text="${user.username}">username</td>
                                <td th:text="${user.nome}">nome</td>
                                <td th:text="${user.cognome}">cognome</td>
                                <td th:text="${user.data_nascita}">data di nascita</td>
                                <td th:text="${user.ruolo}">ruolo</td>
                                <td th:text="${user.data_reg}">data di registrazione</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <div th:replace="~{/fragments :: navbarAdmin}"></div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>